html {
    height: 100%;
}
body {
    font: 300 16px/28px "Merriweather", serif;
    color:#111;
    background:#f5f5f5;
    align-items:center;
    justify-content:center;
    min-height: 100%;
    padding:0;
    margin:0;
    flex-direction: column;
    display: flex;
}
body > div {
    width: 50%;
    display: none;
    margin:5%;
} 
body > div.selected {
    display:inline;
}
a {
    color: #000;
}
h1, h2 {
    font-weight: 400;
    font-size:2em;
    margin-bottom:1em;
    line-height: 1.5em;
}
h3 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom:0.75em;
}
h4 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
}
ul {
    margin: 0;
    padding:0;
}
li {
    list-style: none;
}
li p {
    color: #333;
}
input, textarea {
    background: transparent;
    border: none;
    border-bottom: #222 1px solid;
    color: #222;
    margin-bottom:1em;
    width: 100%;
    font: 300 16px/26px "Merriweather", serif;
    padding:0.5em;
    resize: none;
}
input::placeholder, textarea::placeholder {
    font-style: italic;
    color: #ccc;
}
button {
    background: #222;
    padding: 0.5em 1em;
    border: none;
    font: 300 16px/26px "Merriweather", serif;
    color: #eee;
}
.mt-1 {
    margin-top:1.5em;
}
@media screen and (max-width: 1024px) {
    body > div {
        width: 80%;
    }
    body {
        justify-content: flex-start;
    }
}
@media screen and (prefers-color-scheme:dark) {
    body {
        background: #111;
        color: #eee;
    }
    a {
        color: #fff;
    }
    li p {
        color: #ccc;
    }
    button {
        background: #eee;
        color: #222;
    }
    input, textarea {
        border-bottom-color: #fff;
        color: #fff;
    }
    input::placeholder, textarea::placeholder {
        color: #f0f0f0;
    }
}